# Ford GoBike Cleaning

## Import Requirements:

In [1]:
import numpy as np
import pandas as pd
import os
import glob

## Gather:

In [2]:
!pwd

/Users/mattames/Desktop/ford_gobike

In [3]:
# Confirm all files are in the correct directory
# Absolute file path /Users/mattames/Desktop/ford_gobike/all_bikeshare_datasets
os.listdir('all_bikeshare_datasets')

['201802-fordgobike-tripdata.csv',
 '201811-fordgobike-tripdata.csv',
 '201904-fordgobike-tripdata.csv',
 '201809-fordgobike-tripdata.csv',
 '.DS_Store',
 '2017-fordgobike-tripdata.csv',
 '201806-fordgobike-tripdata.csv',
 'cleaned_datasets',
 '201903-fordgobike-tripdata.csv',
 '201805-fordgobike-tripdata.csv',
 '201812-fordgobike-tripdata.csv',
 '201801-fordgobike-tripdata.csv',
 '201905-baywheels-tripdata.csv',
 '201901-fordgobike-tripdata.csv',
 '201807-fordgobike-tripdata.csv',
 '201808-fordgobike-tripdata.csv',
 '201810-fordgobike-tripdata.csv',
 '201803-fordgobike-tripdata.csv',
 '201804-fordgobike-tripdata.csv',
 '201902-fordgobike-tripdata.csv']

In [4]:
# Read and merge all datasets into one master dataset
# Absolute file path /Users/mattames/Desktop/ford_gobike/all_bikeshare_datasets
path = 'all_bikeshare_datasets'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

df = pd.concat(li, axis=0, ignore_index=True)

/Users/mattames/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if sys.path[0] == '':

In [5]:
# Print the head to confirm success
df.head()

,bike_id,bike_share_for_all_trip,duration_sec,end_station_id,end_station_latitude,end_station_longitude,end_station_name,end_time,member_birth_year,member_gender,start_station_id,start_station_latitude,start_station_longitude,start_station_name,start_time,user_type
0,1035,No,598,114.0,37.764478,-122.402570,Rhode Island St at 17th St,2018-03-01 00:09:45.1870,1988.0,Male,284.0,37.784872,-122.400876,Yerba Buena Center for the Arts (Howard St at ...,2018-02-28 23:59:47.0970,Subscriber
1,1673,No,943,324.0,37.788300,-122.408531,Union Square (Powell St at Post St),2018-02-28 23:36:59.9740,1987.0,Male,6.0,37.804770,-122.403234,The Embarcadero at Sansome St,2018-02-28 23:21:16.4950,Customer
2,3498,No,18587,15.0,37.795392,-122.394203,San Francisco Ferry Building (Harry Bridges Pl...,2018-02-28 23:30:42.9250,1986.0,Female,93.0,37.770407,-122.391198,4th St at Mission Bay Blvd S,2018-02-28 18:20:55.1900,Customer
3,3129,No,18558,15.0,37.795392,-122.394203,San Francisco Ferry Building (Harry Bridges Pl...,2018-02-28 23:30:12.4500,1981.0,Male,93.0,37.770407,-122.391198,4th St at Mission Bay Blvd S,2018-02-28 18:20:53.6210,Customer
4,1839,Yes,885,297.0,37.322980,-121.887931,Locust St at Grant St,2018-02-28 23:29:58.6080,1976.0,Female,308.0,37.336802,-121.894090,San Pedro Square,2018-02-28 23:15:12.8580,Subscriber

In [6]:
# Make a copy of the DataFrame for analysis
df_v1 = df.copy()

In [7]:
# Save un-cleaned master dataset as .csv file
# # Absolute file path /Users/mattames/Desktop/ford_gobike/all_bikeshare_datasets/cleaned_datasets/master-dataset-v1.csv
df_v1.to_csv('all_bikeshare_datasets/cleaned_datasets/master-dataset-v1.csv', index=False)

## Assess:

#### 1) Unordered List of Initial Assessments
##### df_v1

##### Visual:
1. order of columns

Additional Notes:
- None

##### Programmatic:
1. bike_share_for_all_trip NaNs because program wasn't offered in 2017
2. end_station_id NaNs
3. end_station_name NaNs
4. member_birth_year NaNs
5. member_gender NaNs
6. start_station_id NaNs
7. start_station_name NaNs
8. bike_id dtype is int
9. end_station_id dtype is float
10. end_time dtype is str
11. member_birth_year dtype is float
12. start_station_id dtype is float
13. start_time dtype is str
14. multiple observational units in one table

Additional Notes:
- None

#### 2) Categorize and Bunch

##### Tidiness
1. order of columns

##### Quality
1. bike_share_for_all_trip NaNs because program wasn't offered in 2017
2. end_station_id NaNs
3. end_station_name NaNs
4. member_birth_year NaNs
5. member_gender NaNs
6. start_station_id NaNs
7. start_station_name NaNs
8. bike_id dtype is int
9. end_station_id dtype is float
10. end_time dtype is str
11. member_birth_year dtype is float
12. start_station_id dtype is float
13. start_time dtype is str

## Clean:
### Part 1: Tidiness
#### Define
The tidiness issue of observational units per table will be ignored for this analysis, keeping all of this in one table will be beneficial for the following analysis.

However, the columns will be re-ordered in a more logical way that conceptually separates these observational units while keeing them in the same table.

#### Code

In [8]:
df_v1.columns

Index(['bike_id', 'bike_share_for_all_trip', 'duration_sec', 'end_station_id',
       'end_station_latitude', 'end_station_longitude', 'end_station_name',
       'end_time', 'member_birth_year', 'member_gender', 'start_station_id',
       'start_station_latitude', 'start_station_longitude',
       'start_station_name', 'start_time', 'user_type'],
      dtype='object')

In [9]:
df_v1 = df_v1[['bike_id', 'duration_sec', 'start_time', 'end_time', 'start_station_id', 'start_station_name',
               'start_station_latitude', 'start_station_longitude', 'end_station_id', 'end_station_name',
               'end_station_latitude', 'end_station_longitude', 'user_type', 'bike_share_for_all_trip',
               'member_gender', 'member_birth_year']]

#### Test

In [10]:
df_v1.head(1)

,bike_id,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,user_type,bike_share_for_all_trip,member_gender,member_birth_year
0,1035,598,2018-02-28 23:59:47.0970,2018-03-01 00:09:45.1870,284.0,Yerba Buena Center for the Arts (Howard St at ...,37.784872,-122.400876,114.0,Rhode Island St at 17th St,37.764478,-122.40257,Subscriber,No,Male,1988.0

### Part 2: Quality
### Issue 1:
#### Define
Use .fillna() to replace all bike_share_for_all_trip NaNs with "Not Offered" since this membership type was not offered in 2017.

#### Code

In [11]:
df_v1['bike_share_for_all_trip'] = df_v1['bike_share_for_all_trip'].fillna(value='Not Offered')

#### Test

In [12]:
df_v1.bike_share_for_all_trip.value_counts()

No             2661897
Not Offered     519700
Yes             254891
Name: bike_share_for_all_trip, dtype: int64

In [13]:
df_v1.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3436488 entries, 0 to 3436487
Data columns (total 16 columns):
bike_id                    3436488 non-null int64
duration_sec               3436488 non-null int64
start_time                 3436488 non-null object
end_time                   3436488 non-null object
start_station_id           3423972 non-null float64
start_station_name         3423972 non-null object
start_station_latitude     3436488 non-null float64
start_station_longitude    3436488 non-null float64
end_station_id             3423972 non-null float64
end_station_name           3423972 non-null object
end_station_latitude       3436488 non-null float64
end_station_longitude      3436488 non-null float64
user_type                  3436488 non-null object
bike_share_for_all_trip    3436488 non-null object
member_gender              3210289 non-null object
member_birth_year          3209853 non-null float64
dtypes: float64(7), int64(2), object(7)
memory usage: 419.5+ MB

### Issues 2, 3, 6, 7:
#### Define
Use .drop() to drop all rows where end_station_id is NaN because these have inaccurate lat and long coordinates, these rows contain nulls in many other columns, they're located in an unimportant northern San Jose area (far outside the city of SF), the company does not include these specific stations on their own website, and its only approx. 12500 entries in a dataset with over 3.25 million entries. These entries are not only a less imortant area, but a very small fraction of the overall dataset.

This will also remove the NaNs in end_station_name, start_station_id, and start_station_name.


#### Code

In [14]:
df_v1.dropna(subset=['end_station_id'], inplace=True)

#### Test

In [15]:
df_v1.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3423972 entries, 0 to 3436487
Data columns (total 16 columns):
bike_id                    3423972 non-null int64
duration_sec               3423972 non-null int64
start_time                 3423972 non-null object
end_time                   3423972 non-null object
start_station_id           3423972 non-null float64
start_station_name         3423972 non-null object
start_station_latitude     3423972 non-null float64
start_station_longitude    3423972 non-null float64
end_station_id             3423972 non-null float64
end_station_name           3423972 non-null object
end_station_latitude       3423972 non-null float64
end_station_longitude      3423972 non-null float64
user_type                  3423972 non-null object
bike_share_for_all_trip    3423972 non-null object
member_gender              3198107 non-null object
member_birth_year          3197671 non-null float64
dtypes: float64(7), int64(2), object(7)
memory usage: 444.1+ MB

### Issues 4, 5:
#### Define

Use .droppna() to drop all rows where member birth year is NaN. This also removes all rows with member_gender NaNs.

#### Code

In [16]:
df_v1.dropna(subset=['member_birth_year'], inplace=True)

#### Test

In [17]:
df_v1.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3197671 entries, 0 to 3436487
Data columns (total 16 columns):
bike_id                    3197671 non-null int64
duration_sec               3197671 non-null int64
start_time                 3197671 non-null object
end_time                   3197671 non-null object
start_station_id           3197671 non-null float64
start_station_name         3197671 non-null object
start_station_latitude     3197671 non-null float64
start_station_longitude    3197671 non-null float64
end_station_id             3197671 non-null float64
end_station_name           3197671 non-null object
end_station_latitude       3197671 non-null float64
end_station_longitude      3197671 non-null float64
user_type                  3197671 non-null object
bike_share_for_all_trip    3197671 non-null object
member_gender              3197671 non-null object
member_birth_year          3197671 non-null float64
dtypes: float64(7), int64(2), object(7)
memory usage: 414.7+ MB

### Issues 8-13:
#### Define
Use .astype() and .to_datetime() to convert the following incorrect data types:
- bike_id from int to str
- start_station_id from float to str
- end_station_id from float to str
- member_birth_year from float to int

and:

- start_time from str to datetime
- end_time from str to datetime

#### Code

In [18]:
# bike_id to string
df_v1['bike_id'] = df_v1['bike_id'].astype(str)

# start_station_id to int and then string (so our string doesn't contain .0 at the end)
df_v1['start_station_id'] = df_v1['start_station_id'].astype(int)
df_v1['start_station_id'] = df_v1['start_station_id'].astype(str)

# end_station_id to int and then string (so our string doesn't contain .0 at the end)
df_v1['end_station_id'] = df_v1['end_station_id'].astype(int)
df_v1['end_station_id'] = df_v1['end_station_id'].astype(str)

# member_birth_year to integer
df_v1['member_birth_year'] = df_v1['member_birth_year'].astype(int)

#### Test

In [19]:
df_v1.dtypes

bike_id                     object
duration_sec                 int64
start_time                  object
end_time                    object
start_station_id            object
start_station_name          object
start_station_latitude     float64
start_station_longitude    float64
end_station_id              object
end_station_name            object
end_station_latitude       float64
end_station_longitude      float64
user_type                   object
bike_share_for_all_trip     object
member_gender               object
member_birth_year            int64
dtype: object

#### Code

In [20]:
# start_time to datetime
df_v1['start_time'] = pd.to_datetime(df_v1['start_time'])

# end_time to datetime
df_v1['end_time'] = pd.to_datetime(df_v1['end_time'])

#### Test

In [21]:
df_v1.dtypes

bike_id                            object
duration_sec                        int64
start_time                 datetime64[ns]
end_time                   datetime64[ns]
start_station_id                   object
start_station_name                 object
start_station_latitude            float64
start_station_longitude           float64
end_station_id                     object
end_station_name                   object
end_station_latitude              float64
end_station_longitude             float64
user_type                          object
bike_share_for_all_trip            object
member_gender                      object
member_birth_year                   int64
dtype: object

## Save cleaned dataset to csv file:

In [22]:
# Save un-cleaned master dataset as .csv file
# Absolute file path /Users/mattames/Desktop/ford_gobike/all_bikeshare_datasets/cleaned_datasets/master-dataset-v2.csv
df_v2 = df_v1.copy()
df_v2.to_csv('all_bikeshare_datasets/cleaned_datasets/master-dataset-v2.csv', index=False)